body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.title-section {
  text-align: center;
  margin: 50px auto 40px;
  background-color: #0d66bab7;
  color: white;
  padding: 20px;
  width: 990px;
}

.outer-container {
  margin-top: 40px;
  text-align: center;
}

.map-section, .chart-section {
  width: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 990px;
}

#map {
  height: 400px;
  width: 750px;
  margin: 0 auto 40px;
}

.button-container {
  margin-top: 10px;
  text-align: center;
}

button {
  background-color: #0d66bab7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.new-chart-section {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 20px auto;
}

.chart-description {
  width: 990px;
  background-color: #0d66bab7;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  height: 40px;
  color: rgb(246, 246, 246);
}

#prices-anl {
  margin-top: 5px;
}

.chart2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 990px;
}

.chart2-content {
  display: flex;
  align-items: flex-start;
}

#bar_chart {
  flex: 0.5;
  height: 400px;
  margin-right: 10px; 
  margin-bottom: -120px;
}

.chart2-description {
  flex: 5; 
  text-align: justify;
}

.additional-charts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#scatter_plot1, #scatter_plot2 {
  flex: 1;
  height: 400px;
  margin: 0 10px;
}

.additional-description {
  text-align: justify;
}

.map-description{
  text-align: justify;
}

.additional-description ol {
  list-style-type: decimal;
  margin-bottom: 20px;
}

.additional-description ul {
  list-style-type: disc;
  margin-left: 40px;
}

.additional-description p, 
.additional-description li {
  text-align: justify;
}

.new-bottom-section {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 20px auto;
}

.bottom-description {
  width: 990px;
  background-color: #0d66bab7;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  height: 40px;
}

#bottom-text {
  margin-top: 5px;
  color: rgb(247, 247, 247);
}
