body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.title-section {
  text-align: center;
  margin: 50px auto 40px;
  background-color: #0d66bab7;
  color: white;
  padding: 20px;
  width: 990px;
}

.outer-container {
  margin-top: 40px;
  text-align: center;  /* Add this */
}

.map-section, .chart-section {
  /* Remove flex properties */
  width: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 990px;
}

#map {
  height: 400px;
  width: 750px;
  margin: 0 auto 40px;
}

.button-container {
  margin-top: 10px;
  text-align: center;
}

button {
  background-color: #0d66bab7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}
